<div class="p-8">
  <h2 class="text-3xl font-semibold">Pick a user to impersonate:</h2>

  <form action="#" class="mt-4" phx-change="submit" phx-submit="submit">
    <select name="user" class="block">
      <option value="" >Pick one</option>
      <%= options_for_select @user_options, nil %>
    </select>
  </form>
</div>
