<main role="main">
  <p class="alert" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= Phoenix.Flash.get(@flash, :info) %></p>

  <p class="alert dark:bg-red-700 p-4 w-full dark:text-red-200 text-lg font-semibold" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= Phoenix.Flash.get(@flash, :error) %></p>

  <%= @inner_content %>
</main>
